RiskApps3/RiskApps3Automation/Web References/AutomationHeartbeat/HraStatusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecordHeartbeat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="apptid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="unitnum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordHeartbeatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RecordHeartbeatResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogHeartbeat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogHeartbeatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogHeartbeatResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecordHeartbeatSoapIn">
    <wsdl:part name="parameters" element="tns:RecordHeartbeat" />
  </wsdl:message>
  <wsdl:message name="RecordHeartbeatSoapOut">
    <wsdl:part name="parameters" element="tns:RecordHeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="LogHeartbeatSoapIn">
    <wsdl:part name="parameters" element="tns:LogHeartbeat" />
  </wsdl:message>
  <wsdl:message name="LogHeartbeatSoapOut">
    <wsdl:part name="parameters" element="tns:LogHeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="LogStatusSoapIn">
    <wsdl:part name="parameters" element="tns:LogStatus" />
  </wsdl:message>
  <wsdl:message name="LogStatusSoapOut">
    <wsdl:part name="parameters" element="tns:LogStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="RecordHeartbeat">
      <wsdl:input message="tns:RecordHeartbeatSoapIn" />
      <wsdl:output message="tns:RecordHeartbeatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogHeartbeat">
      <wsdl:input message="tns:LogHeartbeatSoapIn" />
      <wsdl:output message="tns:LogHeartbeatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogStatus">
      <wsdl:input message="tns:LogStatusSoapIn" />
      <wsdl:output message="tns:LogStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecordHeartbeat">
      <soap:operation soapAction="http://tempuri.org/RecordHeartbeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogHeartbeat">
      <soap:operation soapAction="http://tempuri.org/LogHeartbeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogStatus">
      <soap:operation soapAction="http://tempuri.org/LogStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecordHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/RecordHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/LogHeartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogStatus">
      <soap12:operation soapAction="http://tempuri.org/LogStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:59903/HraStatusService.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:59903/HraStatusService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>