RASourcesV3/Service References/AggregatorServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://riskaggregator.cloudapp.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://riskaggregator.cloudapp.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://riskaggregator.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RiskAggregator" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStringData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStringData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStringData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStringDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRiskDataWithLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRiskDataWithLicense" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRiskDataWithLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRiskDataWithLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRiskDataWithDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRiskDataWithDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRiskDataWithDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRiskDataWithDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRiskData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRiskData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRiskData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRiskDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSummaryReportFromHL7_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSummaryReportFromHL7" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSummaryReportFromHL7_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSummaryReportFromHL7Response" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStringData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStringData" message="tns:IService1_GetStringData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStringDataResponse" message="tns:IService1_GetStringData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRiskDataWithLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRiskDataWithLicense" message="tns:IService1_GetRiskDataWithLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRiskDataWithLicenseResponse" message="tns:IService1_GetRiskDataWithLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRiskDataWithDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRiskDataWithDetails" message="tns:IService1_GetRiskDataWithDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRiskDataWithDetailsResponse" message="tns:IService1_GetRiskDataWithDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRiskData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRiskData" message="tns:IService1_GetRiskData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRiskDataResponse" message="tns:IService1_GetRiskData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSummaryReportFromHL7">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSummaryReportFromHL7" message="tns:IService1_GetSummaryReportFromHL7_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSummaryReportFromHL7Response" message="tns:IService1_GetSummaryReportFromHL7_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStringData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStringData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiskDataWithLicense">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRiskDataWithLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiskDataWithDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRiskDataWithDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiskData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRiskData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryReportFromHL7">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSummaryReportFromHL7" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#WSHttpBinding_IService1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStringData">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetStringData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiskDataWithLicense">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetRiskDataWithLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiskDataWithDetails">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetRiskDataWithDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiskData">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetRiskData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryReportFromHL7">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetSummaryReportFromHL7" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://riskaggregator.cloudapp.net/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IService1" binding="tns:WSHttpBinding_IService1">
      <soap12:address location="https://rd00155dc3ac21/Service1.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://rd00155dc3ac21/Service1.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>